.Clear {
  background: cornflowerblue;
}
.Sunny {
  background: red;
}
.Cloud{
  background: grey;
}
.Cloudy{
  background: grey;
}
.Rainy{
  background: purple;
}
.Rain{
  background: purple;
}
.Clouds{
  background: grey;
}
